* {
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40pt;
    padding: 4rem 2rem;
    color: #04a6b5;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    padding: 4rem 2rem;
    color: #04a6b5;
}

h3 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
    margin: 2rem 0 1rem 0;
    color: #585858;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16pt;
    line-height: 2;
    margin: 2rem 0 3rem 0;
    color: #707070;
}

.menor {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12pt;
    color: #525252;
    margin-top: -50px;
}


strong {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17pt;
    color: #04a6b5;
}

.maior {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20pt;
    color: #04a6b5;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #04a6b5;
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

nav a:hover {
    color: white;
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
    
}

nav p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #04a6b595;
    color: white;
    margin: 1em 1em;
    padding: 2em 4em;
    border-radius: 50rem;
}

/* imagem header */
header {
    background-color: white;
}

header img {
    height: 30rem;
}


section {
    background-color: #d5d6f5;
    padding: 2rem;
}

article {
    background-color: #adaec742;
    padding: 4rem 10rem;
    margin: 5rem;
    border-radius: 3rem;   
}

#info_lista1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#info_lista2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#info_lista3 {
    width: 100%;
    display: flex;
    justify-content: center;    
}

#card {
    font-size: 15pt;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
}

#info img{
    border-radius: 20%;
    width: 60%;
    padding-top: 1em;
}

#info_icon01 {
    background-color: #7484b7;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon02 {
    background-color: #ffb363;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon03 {
    background-color: #00a7b7;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon04 {
    background-color: #68b775;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon05 {
    background-color: #ffe20c;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon06 {
    background-color: #ff604b;
    /* height: 15%; */
    width: 30%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}



/* Dados e Contador  */

.dados {
    width: 100%;
    background-color:gray;
    display: flex;
    justify-content: center;
    
}

.dados_config {
    width: 19%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12pt;    
    background: #d5d6f5;
    color:gray;    
    margin: 0 0.3rem 0 0.3rem;
    margin-bottom: 5rem;
    border-radius: 0 0 2rem 2rem;
}

/* Contador dados 1 */

@property --num01 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter01 {
  counter-reset: num01 var(--num01);
  animation: count01 5s forwards ease-out;
  /* font-size: 3rem; */
  font-weight: bold;
  font-size: 18pt;
  color:rgb(97, 97, 97);
}

.counter01::after {
  content: counter(num01);
}

@keyframes count01 {
  from { --num01: 0; }
  to { --num01: 800; } /* Número final */
}


/* Contador dados 2 */

@property --num02 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter02 {
  counter-reset: num02 var(--num02);
  animation: count02 4s forwards ease-out;
  /* font-size: 3rem; */
  font-weight: bold;
  font-size: 18pt;
  color:rgb(97, 97, 97);
}

.counter02::after {
  content: counter(num02);
}

@keyframes count02 {
  from { --num02: 0; }
  to { --num02: 600; } /* Número final */
}


/* Contador dados 3 */

@property --num03 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter03 {
  counter-reset: num03 var(--num03);
  animation: count03 3s forwards ease-out;
  /* font-size: 3rem; */
  font-weight: bold;
  font-size: 18pt;
  color:rgb(97, 97, 97);
}

.counter03::after {
  content: counter(num03);
}

@keyframes count03 {
  from { --num03: 0; }
  to { --num03: 300; } /* Número final */
}


/* Contador dados 4 */

@property --num04 {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.counter04 {
  counter-reset: num04 var(--num04);
  animation: count04 6s forwards ease-out;
  /* font-size: 3rem; */
  font-weight: bold;
  font-size: 18pt;
  color:rgb(97, 97, 97);
}

.counter04::after {
  content: counter(num04);
}

@keyframes count04 {
  from { --num04: 0; }
  to { --num04: 1100; } /* Número final */
}



/* Rodapé */

footer {
    background-color: #00a7b7;
    color: rgb(63, 63, 63);
    width: 100%;
    display: flex;
    justify-content: center;    
}

footer h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding: 2rem 0.8rem 1rem 0.8rem;
    color: white;
    text-shadow: 2px 2px 3px #525252;
}

.loja {
    display: flex;
    flex-direction: column;
    margin: 2rem 6rem 3rem 6rem;    
}

.loja p {
    margin: 0; 
    font-size: 12pt;
    color: rgb(36, 36, 36);
    padding: 0.3em;
}


.redes {
    display: flex;
    flex-direction: column;
    margin: 2rem 6rem 3rem 6rem;    
}

.redes_icon {
    display: flex;
    justify-content: center; 
}

.icon_social {
    width: 1.5em;
    height: 1.5em;
    clip-path: circle(50%);
    margin: 0.8rem;
}

.icon_social:hover {
    transform: scale(1.5);
}


/* Contato */

.contato {
    background-color: #d5d6f5;
    padding: 2rem;
}

.contato p {
    font-size: 17pt;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
}

form {
    text-align:left;
    font-size: 15pt;
    margin-left: 40%;
    color: rgb(61, 61, 61);
}

#botao_enviar {
    font-size: 12pt;
    padding: 0.5em 1.5em;
    background-color: #00a7b7;
    color: white;
}