* {
  margin: 0;
  padding: 0;
}

body {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50pt;
    padding: 4rem 2rem;
    color: #04a6b5;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30pt;
    padding: 4rem 2rem;
    color: #04a6b5;
}

#menu {
    width: 100%;
    display: flex;
    justify-content: center;
}

#menu a {
    text-decoration: none;
    color: #04a6b5;
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
}

#menu a:hover {
    color: white;
    text-shadow: 1px 1px 1px rgb(69, 69, 69);
    
}

#menu p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #04a6b595;
    color: white;
    margin: 1em 1em;
    padding: 2em 4em;
    border-radius: 50rem;
}

#foto_topo {
    background-color: white;
}

#foto_topo img {
    height: 30rem;
}

#info {
    background-color: #d5d6f5;
    padding: 2rem;
}

#info_lista1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#info_lista2 {
    width: 100%;
    display: flex;
    justify-content: center;
}

#info_lista3 {
    width: 100%;
    display: flex;
    justify-content: center;    
}

#info p {
    font-size: 17pt;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
}

#info img{
    border-radius: 20%;
    width: 60%;
    padding-top: 1em;
}

#info_icon01 {
    background-color: #7484b7;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon02 {
    background-color: #ffb363;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon03 {
    background-color: #00a7b7;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon04 {
    background-color: #68b775;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon05 {
    background-color: #ffe20c;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#info_icon06 {
    background-color: #ff604b;
    /* height: 15%; */
    width: 20%;
    border-radius: 6%;
    margin: 2%;
    padding-bottom: 1em;
    gap: 1em;
    box-shadow: 3px 3px 6px #7684b3;
}

#dados {
    width: 100%;
    background-color:gray;
    display: flex;
    justify-content: center;
    
}

#dados01 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #d5d6f5;
    color:gray;
    margin: 0 0.2rem 0 0.2rem;
    margin-bottom: 5rem;
    padding: 3em 3em;
    border-radius: 0 0 2rem 2rem;
}

#dados01 h3 {
    font-size: 21pt;
    color:rgb(97, 97, 97);
}

#dados02 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #d5d6f5;
    color:gray;
    margin: 0 0.2rem 0 0.2rem;
    margin-bottom: 5rem;
    padding: 3em 3em;
    border-radius: 0 0 2rem 2rem;
    
}

#dados02 h3 {
    font-size: 21pt;
    color:rgb(97, 97, 97);
}

#dados03 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #d5d6f5;
    color:gray;
    margin: 0 0.2rem 0 0.2rem;
    margin-bottom: 5rem;
    padding: 3em 3em;
    border-radius: 0 0 2rem 2rem;
    
}

#dados03 h3 {
    font-size: 25pt;
    color:rgb(97, 97, 97);
}

#dados04 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15pt;    
    background: #d5d6f5;
    color:gray;
    margin: 0 0.2rem 0 0.2rem;
    margin-bottom: 5rem;
    padding: 3em 3em;
    border-radius: 0 0 2rem 2rem;
    
}

#dados04 h3 {
    font-size: 25pt;
    color:rgb(97, 97, 97);
}

footer {
    background-color: #00a7b7;
    color: rgb(63, 63, 63);
    width: 100%;
    display: flex;
    justify-content: center;
    
}

#loja {
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem 3rem 10rem;    
}

#loja p {
    padding: 0.4em;  
}

#loja h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding: 2rem 0.5rem;
    color: white; 
}

#redes {
    display: flex;
    flex-direction: column;
    margin: 2rem 10rem 3rem 10rem;    
}

#redes p {    
    padding: 0.4em;
    margin-bottom: 1em;  
}

#redes h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
    padding: 1.6rem 0.5rem;
    color: white; 
}

#redes_icon {
    display: flex;
    justify-content: center; 
}

#icon_social {
    width: 1.8em;
    height: 1.8em;
    clip-path: circle(50%);
    margin: 1rem;
}

#icon_social:hover {
    transform: scale(2.5);
}


/* Contato */

#contato {
    background-color: #d5d6f5;
    padding: 2rem;
}

#contato p {
    font-size: 17pt;
    color: white;
    margin: 1.5rem;
    text-shadow: 1px 1px 2px rgb(69, 69, 69);
}

form {
    text-align:left;
    font-size: 15pt;
    margin-left: 40%;
    color: rgb(61, 61, 61);
}

#botao_enviar {
    font-size: 12pt;
    padding: 0.5em 1.5em;
    background-color: #00a7b7;
    color: white;
}